@import url(http://necolas.github.io/normalize.css/latest/normalize.css);

.page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* h1 { */
/*   color: #ccc; */
/*   font-weight: normal; */
/*   font-size: 5vmin; */
/*   margin: 0; */
/*   padding: 0; */
/*   line-height: 8vmin; */
/* } */
table {
  border-collapse: collapse;
}
td {
  border: 1px solid #ddd;
}
td>div {
  height: 100%;
  width: 100%;
  position: relative;
}
.field-cell {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-in-out;
          transition: background-color 500ms ease-in-out;
  position: absolute;
}
.field-cell.white, .field-cell.black {
  box-shadow: 1px 1px 3px gray;
}
.theme-default .field-cell.black {
  background: #FF4D1F;
}
.theme-default .field-cell.white {
  background: #408CD8;
}
.theme-legacy .field-cell.black {
  background: #fff;
}
.theme-legacy .field-cell.white {
  background: #222;
}
.cell-transition-enter {
  opacity: 0;
}
.cell-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
          transition: opacity 500ms linear;
}
.cell-transition-leave {
  opacity: 1;
}
.cell-transition-leave-active {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
          transition: opacity 500ms linear;
}
.message-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-layer-transition-enter {
  opacity: 0;
}
.message-layer-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
          transition: opacity 500ms ease-in;
}
.message-layer-transition-leave {
  opacity: 1;
}
.message-layer-transition-leave-active {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
          transition: opacity 500ms ease-in;
}
.message-text-box {
  margin: 0 auto;
  width: 100%;
  height: 20vmin;
  background: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.theme-default .message-text-box.said-computer .message-text {
  color: #FF4D1F;
}
.theme-legacy .message-text-box.said-computer .message-text {
  color: #444;
}
.theme-default .message-text-box.said-human .message-text {
  color: #408CD8;
}
.theme-legacy .message-text-box.said-human .message-text {
  color: #000;
}
.mlface-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 15vmin;
}
.mlface-box .mlface {
  font-size: 6vmin;
}
.theme-default .mlface-box .mlface {
  color: #FF4D1F;
}
.theme-legacy .mlface-box .mlface {
  color: #444;
}
.gameField {
  width: 100vmin;
  height: 100vmin;
  max-width: 83vh;
  max-height: 83vh;
}
.gameField table {
  width: 100%;
  height: 100%;
}
.config-window-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.config-window {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.config-window-transition-enter {
  opacity: 0;
}
.config-window-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
          transition: opacity 500ms ease-in;
}
.config-window-transition-leave {
  opacity: 1;
}
.config-window-transition-leave-active {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
          transition: opacity 500ms ease-in;
}
.config-theme .config-theme-candidate-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vmin;
  width: 15vmin;
  background: #fff;
  color: #222;
  font-size: 4vmin;
}
.config-theme .config-theme-candidate-container.selected {
  background: #222;
  color: #fff;
}
.config-theme input[type=radio] {
  display: none;
}
.config-theme .config-theme-candidate-container span {
  width: 15vmin;
  height: 15vmin;
  line-height: 15vmin;
}
.config-window-toggle-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4vmin;
  height: 4vmin;
  background: url(config-window-toggle-button-icon.svg);
  background-size: 100%;
  opacity: 0.5;
  z-index: 15;
}
